<div class="task">
  <div
    class="task__item d-flex justify-content-between align-items-center py-3"
  >
    <mat-checkbox
      (change)="onTaskChangeHandler(task.id, $event)"
      [checked]="task.complete ? 'checked' : ''"
      ><span [class.task__completed]="task.complete">{{
        task.name
      }}</span></mat-checkbox
    >
    <mat-icon
      class="task__remove"
      (click)="onRemoveTask(task.id)"
      aria-hidden="false"
      aria-label="Remove task"
      color="accent"
      >delete</mat-icon
    >
  </div>
</div>
