:host {
  border-bottom: 1px solid lightgray;
  display: block;

  &:last-of-type {
    border-bottom: none;
  }

  .task {
    &__remove {
      cursor: pointer;
    }

    &__completed {
      text-decoration: line-through;
    }

    .mat-checkbox {
      display: block;
      width: 100%;
      ::ng-deep label {
        display: block;
        width: 100%;
      }
    }
  }
}
