<main class="container py-5">
  <div class="row">
    <div class="col col-md-8 col-lg-6 mx-auto">
      <h1>Stuff to do</h1>
      <form
        [formGroup]="reactiveForm"
        (ngSubmit)="onSubmit()"
        class="d-flex justify-content-between align-items-center"
        #taskForm="ngForm"
      >
        <mat-form-field class="flex-grow-1 mr-3">
          <mat-label>Item</mat-label>
          <input
            [formControlName]="InputField.ITEM"
            matInput
            placeholder="Add something to do"
          />
        </mat-form-field>
        <div><button mat-raised-button color="accent">Add item</button></div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-8 col-lg-6 mx-auto" *ngIf="tasks$ | async as tasks">
      <h2 *ngIf="tasks.length > 0 && includesIncompleteTasks" class="mt-4">
        To do
      </h2>
      <div>
        <ng-container *ngFor="let task of tasks">
          <app-task *ngIf="!task.complete" [task]="task"></app-task>
        </ng-container>
      </div>
      <h2 *ngIf="tasks.length > 0 && includesCompletedTasks" class="mt-4">
        Completed
      </h2>
      <div>
        <ng-container *ngFor="let task of tasks">
          <app-task *ngIf="task.complete" [task]="task"></app-task>
        </ng-container>
      </div>
    </div>
  </div>
</main>
